%form{action: './feed', method: :get}
  %p
    %label{for: :url}
      フィードURL
    %input{type: :url, name: :url, id: :name, placeholder: 'http://example.com/feed.xml', size: 100, value: @options[:url]}
  %p
    %label{for: :link}
      エントリーのリンクURLをguidの生成に利用する
    %input{type: :checkbox, name: :link, id: :link, checked: @options[:link]}
  %p
    %label{for: :title}
      エントリーのタイトルをguidの生成に利用する
    %input{type: :checkbox, name: :title, id: :title, checked: @options[:title]}
  %p
    %label{for: :description}
      エントリーの本文をguidの生成に利用する
    %input{type: :checkbox, name: :description, id: :description, checked: @options[:description]}
  %p
    %label{for: :date}
      エントリーの日時をguidの生成に利用する
    %input{type: :checkbox, name: :date, id: :date, checked: @options[:date]}
  %p
    %label{for: :guid}
      エントリーのguidをguidの生成に利用する
    %input{type: :checkbox, name: :guid, id: :guid, checked: @options[:guid]}
  %input#submit{type: :submit}
