%form{action: './feed', method: :get}
  %p
    %label{for: :url}
      フィードURL
    %input{type: :url, name: :url, placeholder: 'http://example.com/feed.xml', size: 100}
  %p
    %label{for: :link}
      エントリーのリンクURLをguidの生成に利用する
    %input{type: :checkbox, name: :link}
  %p
    %label{for: :title}
      エントリーのタイトルをguidの生成に利用する
    %input{type: :checkbox, name: :title}
  %p
    %label{for: :description}
      エントリーの本文をguidの生成に利用する
    %input{type: :checkbox, name: :description}
  %p
    %label{for: :date}
      エントリーの日時をguidの生成に利用する
    %input{type: :checkbox, name: :date}
  %p
    %label{for: :guid}
      エントリーのguidをguidの生成に利用する
    %input{type: :checkbox, name: :guid}
  %input#submit{type: :submit}
